@model ZG.Domain.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Product</legend>

    <div class="display-field">
        @Html.DisplayFor(model => model.ProductName)
    </div>

    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-field">
        @Html.DisplayFor(model => model.Weight)
    </div>
    
    <div class="display-field">
        @Html.DisplayFor(model => model.Height)
    </div>

    <div class="display-field">
        @Html.DisplayFor(model => model.Length)
    </div>

    <div class="display-field">
        @Html.DisplayFor(model => model.Width)
    </div>

    <div class="display-field">
        @Html.DisplayFor(model => model.TotalReviewCount)
    </div>

    <div class="display-field">
        @Html.DisplayFor(model => model.RatingScore)
    </div>
</fieldset>
<p>
    @using (Html.BeginForm("AddToCart", "Cart"))
    {
        @Html.HiddenFor(p => p.Id)
        @Html.Hidden("returnUrl", Url.RouteUrl("ProductsByPage", new{page = 1}))
        <input type="submit" value="+ Add to cart"/>
    }
</p>
