@model ZG.Store.Presentation.ViewModels.ProductListViewModel

@{
    Layout = "~/Views/Shared/_Layout1Col.cshtml";
    ViewBag.Title = "List";
}

<h2>Product Categories:  @Html.Action("CategoryDropdown", "ChildAction", new { category = Model.CurrentCategory}) </h2>

<table>
    <tr><th>ID</th><th>Name</th><th>Price</th><th>Actions</th></tr>
@foreach (var prod in Model.Products)
{
    <tr>
        <td>@prod.Id</td>
        <td>@Html.ActionLink(prod.ProductName, "Edit", new {prod.Id})</td>
        <td>@prod.Price.ToString("c")</td>
        <td>@using (Html.BeginForm("Delete", "ProductAdmin"))
            {
                @Html.Hidden("ProductId", prod.Id)
                <input type="submit" value="Delete" />
            }
        </td>
    </tr>
}
    
</table>