@model ZG.Store.Presentation.ViewModels.ProductListViewModel

@{
    Layout = "~/Views/Shared/_Layout1Col.cshtml";
    ViewBag.Title = "ZGStore Admin: List";
}

<h2>Product Categories:  @Html.Action("CategoryDropdown", "ChildAction", new { category = Model.CurrentCategory}) </h2>

<table>
    <tr><th>ID</th><th>Name</th><th>Price</th></tr>
@foreach (var prod in Model.Products)
{
    <tr>
        <td>@prod.Id</td>
        <td>@Html.RouteLink(prod.ProductName, "AdminProductEdit", new {id = prod.Id})</td>
        <td>@prod.Price.ToString("c")</td>
    </tr>
}
    
</table>

@section scripts {
    @Scripts.Render("~/bundles/productadmin")
}