@using ZG.Common.DTO
@model ZG.Store.Presentation.ViewModels.ReviewOrderViewModel

@{
    ViewBag.Title = "ZGStore: ReviewOrder";
}

@Html.Action("CheckoutBreadCrumbs", "ChildAction", new {activeCrumb = "ReviewOrder"})

<h2>Review your order</h2>

<div>Shipping address</div>
@Html.Partial("Address", Model.CheckoutDetails.ShippingDetails.ShippingAddress)

@Html.ActionLink("Change", "Shipping")

@Html.Partial("PaymentInformation", Model.CheckoutDetails)

@Html.Partial("ShippingSpeed")

@Html.Partial("CartDetails", Model.Cart.Lines)

@using (Html.BeginForm("PlaceOrder", "Checkout"))
{
    <input type="submit" value="Place your order" />
}

@Html.Partial("OrderSummary", Model.Cart)