@model ZG.Common.DTO.Address

<div>@Html.DisplayFor(m => m.FullName)</div>
<div>@Html.DisplayFor(m => m.Address1)</div>
@if (!string.IsNullOrWhiteSpace(Model.Address2))
{
    <div>@Html.DisplayFor(m => m.Address2)</div>
}
<div>@Html.DisplayFor(m => m.City), @Html.DisplayFor(m => m.StateId) @Html.DisplayFor(m => m.Zip)</div>
<div>@Html.DisplayFor(m => m.CountryId)</div>
<div>@Html.DisplayFor(m => m.Phone)</div>