@using ZG.Common.DTO
@model ZG.Store.Presentation.ViewModels.BillingViewModel

@{
    ViewBag.Title = "ZGStore: Billing Address";
}

<h2>Choose a billing Address</h2>

@using (Html.BeginForm("ReviewOrder", "Cart", new{SameAddress = true}))
{
    Html.RenderPartial("Address", Model.ShippingAddress);
    <p>
        <input type="submit" value="Use this address" />
    </p>
}


<h2>Or enter a new billing address</h2>
@using (Html.BeginForm("ReviewOrder", "Cart"))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>BillingAddress</legend>
        
        <div class="editor-label">
            @Html.LabelFor(m => m.BillingAddress.FullName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.BillingAddress.FullName)
            @Html.ValidationMessageFor(m => m.BillingAddress.FullName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.BillingAddress.Address1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.BillingAddress.Address1)
            @Html.ValidationMessageFor(m => m.BillingAddress.Address1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.BillingAddress.Address2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.BillingAddress.Address2)
            @Html.ValidationMessageFor(m => m.BillingAddress.Address2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.BillingAddress.City)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.BillingAddress.City)
            @Html.ValidationMessageFor(m => m.BillingAddress.City)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.BillingAddress.State)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.BillingAddress.State)
            @Html.ValidationMessageFor(m => m.BillingAddress.State)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.BillingAddress.Country)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.BillingAddress.Country)
            @Html.ValidationMessageFor(m => m.BillingAddress.Country)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.BillingAddress.Zip)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.BillingAddress.Zip)
            @Html.ValidationMessageFor(m => m.BillingAddress.Zip)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(m => m.BillingAddress.Phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.BillingAddress.Phone)
            @Html.ValidationMessageFor(m => m.BillingAddress.Phone)
        </div>

        <p>
            <input type="submit" value="Continue" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
