@model ZG.Store.Presentation.ViewModels.ShippingDetails

@{
    ViewBag.Title = "ZGStore: Checkout";
}

<h2>Checkout now</h2>
<p>Please enter your shipping details, and we'll ship your goods right away!</p>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ShippingDetails</legend>
        
        <h3>Ship to</h3>
        <p>First Name: 
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </p>

        <p>Last Name:
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </p>
        
        <h3>Address</h3>
        <p>Address 1:
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </p>

        <p>Address 2:
            @Html.EditorFor(model => model.Address2)
            @Html.ValidationMessageFor(model => model.Address2)
        </p>

        <p>City:
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </p>

        <p>State:
            @Html.EditorFor(model => model.State)
            @Html.ValidationMessageFor(model => model.State)
        </p>

        <p>Zip code:
            @Html.EditorFor(model => model.Zip)
            @Html.ValidationMessageFor(model => model.Zip)
        </p>

        <p>Country:
            @Html.EditorFor(model => model.Country)
            @Html.ValidationMessageFor(model => model.Country)
        </p>
        
        <h3>Options</h3>
        <p>
            @Html.EditorFor(model => model.GiftWrap)
            @Html.ValidationMessageFor(model => model.GiftWrap) @*TODO: find out why client side validation failed on checkbox without this unnecessary line*@
            Gift wrap these items
        </p>

        <p align="center">
            <input type="submit" value="Complete order" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
