@model ZG.Store.Presentation.ViewModels.CartIndexViewModel
@{
    ViewBag.Title = "ZGStore: Your Cart";
}

<h2>Your Cart</h2>
<table width="90%" align="center">
    <thead>
        <tr>
            <th align="left">Item</th>
            <th align="right">Price</th>
            <th align="center">Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td align="left">@line.Product.ProductName</td>
                <td align="right">@line.Product.Price.ToString("c")</td>
                <td>
                    @using (Html.BeginForm("UpdateCart", "Cart"))
                    {
                        @Html.TextBox("quantity", line.Quantity)
                        @Html.Hidden("Id", line.Product.Id)
                        @Html.HiddenFor(x => x.ReturnUrl)
                        <input class="actionButtons" type="submit" value="Update" />
                    }
                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {
                        @Html.Hidden("Id", line.Product.Id)
                        @Html.HiddenFor(x => x.ReturnUrl)
                        <input class="actionButtons" type="submit" value="Remove" />
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" align="right">Total:</td>
            <td align="right">
                @Model.Cart.ComputeTotalValue().ToString("c")
            </td>
        </tr>
    </tfoot>
</table>

<p align="center" class="actionButtons">
    <a href="@Model.ReturnUrl">Continue Shopping</a>
</p>
