@model ZG.Common.DTO.ShippingDetails

@{
    ViewBag.Title = "ZGStore: Shipping Details";
}

<p>Please enter your shipping details, and we'll ship your goods right away!</p>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ShippingDetails</legend>
        
        <h3>Ship to</h3>
        <p>Full Name: 
            @Html.EditorFor(model => model.ShippingAddress.FullName)
            @Html.ValidationMessageFor(model => model.ShippingAddress.FullName)
        </p>
        
        <h3>Address</h3>
        <p>Address 1:
            @Html.EditorFor(model => model.ShippingAddress.Address1)
            @Html.ValidationMessageFor(model => model.ShippingAddress.Address1)
        </p>

        <p>Address 2:
            @Html.EditorFor(model => model.ShippingAddress.Address2)
            @Html.ValidationMessageFor(model => model.ShippingAddress.Address2)
        </p>

        <p>City:
            @Html.EditorFor(model => model.ShippingAddress.City)
            @Html.ValidationMessageFor(model => model.ShippingAddress.City)
        </p>

        <p>State:
            @Html.EditorFor(model => model.ShippingAddress.State)
            @Html.ValidationMessageFor(model => model.ShippingAddress.State)
        </p>

        <p>ZIP:
            @Html.EditorFor(model => model.ShippingAddress.Zip)
            @Html.ValidationMessageFor(model => model.ShippingAddress.Zip)
        </p>

        <p>Country:
            @Html.EditorFor(model => model.ShippingAddress.Country)
            @Html.ValidationMessageFor(model => model.ShippingAddress.Country)
        </p>
        
        <p>Phone Number:
            @Html.EditorFor(model => model.ShippingAddress.Phone)
            @Html.ValidationMessageFor(model => model.ShippingAddress.Phone)
        </p>
        
        <h3>Options</h3>
        <p>
            @Html.EditorFor(model => model.GiftWrap)
            Gift wrap these items
        </p>

        <p align="center">
            <input class="actionButtons" type="submit" value="Continue" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
